*
{
    color:white;



    padding:0; 
    margin: 0
    
}

div
{
    height: 64px;
    background-color: black;

}

a
{
    margin-right: 50px;
}

button
{
    margin-right: 40px;
    background-color: orange;
    border-color: brown;
    border-radius: 3px;
    padding: 1px;
}